<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26FC41D22077A63E006C3817</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26FC41E32077A63F006C3817</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26FC41EE2077A63F006C3817</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
